extends ../index.pug

block title
  | #{ templatedTitle('Sources') }

block content
  if sources.length === 0
    p #{ __("You have no sources set up yet, do you want to create a new one?") }
  ul.my-6
    form(action="/sources/delete", method="POST")
      each source in sources
        label.flex.items-center.gap-2.flex-1
          input.peer.border.p-2.flex.gap-2.items-center(
            type="checkbox",
            name="sources",
            value=source.id
          )
          li.flex.gap-2.my-3
            if source.image
              img.w-16.h-16.rounded-full(src=source.image, alt="")
            div
              p.text-lg.font-bold #{ source.name }
              case source.sourceType
                when 'FB_SOURCE'
                  p #{ __('Facebook') }
                when 'EVENTBRITE_SOURCE'
                  p #{ __('Eventbrite') }
                when 'MEETUP_SOURCE'
                  p #{ __('Meetup') }
                when 'ICS_SOURCE'
                  p #{ __('ICS file') }
                when 'MBZ_SOURCE'
                  p #{ __('Mobilizon') }
                default
                  p #{ __('Generic') }
              a.text-sm.text-gray(href=source.url, target="_blank") #{ source.url }
      if sources.length > 0
        button.button-outlined(type="submit") #{ __('Delete source') }
  p
    a.button-primary(href="/sources/new") #{ __('Add new source') }
