extends ../index.pug

block title
  | #{ templatedTitle('Login to Mobilizon') }

block content
  h1.text-4xl #{ __('Federated identity') }
  p #{ __('Please enter your federated identity. It should look like an e-mail address, containing the domain name of your Mobilizon instance.') }
  form.mt-8.max-w-2xl.mx-auto(method="POST", action="oauth/apps")
    label(for="federated_identity")
      span.text-gray-700.dark_text-gray-100 #{ __('Federated identity') }
      .flex.gap-2.items-center
        input#federated_identity.block.w-full.rounded-md.border-gray-300.shadow-sm.focus_border-indigo-300.focus_ring.focus_ring-indigo-200.focus_ring-opacity-50(
          name="federated_identity",
          required,
          placeholder="rose@mobilizon.fr"
        )
        button.button-primary(type="submit") #{ __('Login') }
  p.my-4 !{ __('No Mobilizon account yet? Head to {{{mobilizon_org}}} to find a instance to sign up for an account', { mobilizon_org: '<a href="https://mobilizon.org">mobilizon.org</a>' }) }
